<section id="products" style="padding-top: 20px">
  <h1 style="margin-top: 10px; text-align: center; color: #{{ site.color.primary }}">Apps til alle og enhver!</h1>
  <div class="container" style="margin-top: 10px">
    <div class="row">
      {% for product in site.data.products %}
      <div class="col-sm-4 product" style="padding: 16px; text-align: center">
        <a href="{{ product.uri }}">
          <img src="img/products/{{ product.icon }}" />
          <h4 style="color: black">{{ product.title }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
