<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% include nav.html %}
        <div style="padding: 20px 20px; background-color: white">
            <div class="container">
                <div class="row">
                    <section>
                        <h1>Om MoGee</h1>
                        <img src="/img/Morten.jpg" id="me" alt="Morten i San Francisco" />
                        <p>Hej! Jeg hedder Morten Bjerg Gregersen, og det er mig, der står bag MoGee. MoGee er min hobby-virksomhed, hvor jeg bl.a. udvikler apps til mindre virksomheder og foreninger. Derudover udvikler jeg også apps, som jeg selv eller venner har behov for.</p>
                        <h2>Bankdata</h2>
                        <p>Til dagligt arbejder jeg som app-udvikler i <a href="https://bankdata.dk"><span class="bold">Bankdatas</span></a> mobilteam, hvor vi udvikler apps til nogen af Danmarks største banker.</p>
                        <p>Jeg har stort fokus på kvalitetssikring og brugeroplevelse, og har stået i spidsen for udviklingen af automatiserede tests på mobil-platformen.</p>
                        <h3>Oplæg</h3>
                        <p>I forbindelse med mit arbejde i <a href="https://bankdata.dk"><span class="bold">Bankdata</span></a>, har jeg holdt oplæg om automatisering af test og hvordan vi får testet vores apps til alle bankerne.</p>
                        <h4>TestExpo 2016</h4>
                        <p>I januar 2016 holdt min <a href="https://www.linkedin.com/in/marianne-gadegaard-6663a729"><span class="bold">kollega Marianne</span></a> og jeg oplæg på Capgemini Sogetis konference <a href="http://www.capgeminisogeti.dk/udforsk/events/testexpo"><span class="bold">TestExpo 2016</span></a> i Bella Centret.</p>
                        <h4>Testing Tuesday juni 2016</h4>
                        <p>Vores oplæg på <a href="http://www.capgeminisogeti.dk/udforsk/events/testexpo"><span class="bold">TestExpo 2016</span></a> blev ikke optaget på video, men da der var stor efterspørgslen på en video af oplægget, blev vi inviteret til at holde oplægget endnu en gang. Denne gang blev det holdt på deres <a href="http://www.capgeminisogeti.dk/udforsk/events/testingtuesday/"><span class="bold">Testing Tuesday</span></a> i juni 2016. Det blev optaget, og videoen er tilgængelig på YouTube:</p>
                        <div style="display: flex; justify-content: center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Iyy47neEICo" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <h2>Tidligere erfaring (Huge Lawn - Miracle Apps / Miracle Mobile)</h2>
                        <p>Indtil juni 2014 arbejdede jeg hos <a href="http://hugelawn.com"><span class="bold">Huge Lawn - Miracle Apps</span></a> (nu <a href="https://miracle.dk/ydelser/projekter/mobile/"><span class="bold">Miracle Mobile</span></a>), hvor jeg var med i over 50 forskellige app-projekter.</p>
                    </section>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>