<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% include nav.html %}
        <div style="padding: 20px 20px; background-color: white">
            <div class="container">
                <div class="row">
                    <section>
                        <h1>
                            {{ page.title }}
                            {% if page.subtitle %}
                            <span style="font-size: 0.5em">-&nbsp;{{ page.subtitle }}</span>
                            {% endif %}
                        </h1>
                        <p>{{ page.description }}</p>
                        {% if page.image %}
                        <img src="/img/products/{{ page.image }}" alt="" style="width: 100%" />
                        {% endif %}
                        <p style="margin-top: 10px; text-align: center">
                            <a href="{{ page.link }}">
                                <img src="https://linkmaker.itunes.apple.com/da-dk/badge-lrg.svg?releaseDate=2017-04-14&kind=iossoftware&bubble=ios_apps" alt="Hent i App Store" style="width:135px; height:40px" />
                            </a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
